.env

# BACKEND
/backend/__pycache__
/backend/database/__pycache__
/backend/tests/__pycache__
backend/database/database.db
# FRONTEND 
/frontend/node_modules
/frontend/coverage
# e2e
/e2e/node_modules/
/e2e/test-results/
/e2e/playwright-report/
/e2e/blob-report/
/e2e/playwright/.cache/
